body {
  display: flex;
  justify-content: center;
}
.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-item:hover img {
  transform: scale(1.04);
}

.gallery-link {
  display: inline-block;
  cursor: url(../img/bxs_hand-down.png), auto;
}
.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transform: scale(1);
  transition: transform 0.5s;
}
